$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-warning-lighter: lighten(#f0ad4e, 50%) !default;
$brand-danger:          #d9534f !default;

// SUBTLE TEA TIME
$brand-one: 			#5E3635;
$brand-two:				#5F4F35;
$brand-three:			#616B4E;
$brand-four:			#568562;
$brand-five:			#40997B;

// BRAND BLUE
$brand-blue-lighter:	#DCF6FF;
$brand-blue-light:		#B3DDEB;
$brand-blue:			#69919E;
$brand-blue-dark:		#3F565E;
$brand-blue-darker:		#2E3F44;

$brand-blue-saturated:	#536091;
$brand-blue-orange:		#424B6B;

$brand-yellow-lighter:	#EAE490;
$brand-yellow-light:	#EBE37F;
$brand-yellow:			#EAE054;
$brand-yellow-dark:		#D3BB41;
$brand-yellow-darker:	#B9A439;

// TRIAD SPENCE
// $brand-one: 			#484340;
// $brand-two:				#946C52;
// $brand-three:			#455543;
// $brand-four:			#64627B;
// $brand-five:			#807D94;

// MONOCHROME
// $brand-one: 			#ECEBEB; // light white
// $brand-two:				#A09E9E; // light grey
// $brand-three:			#666363; // middle grey
// $brand-four:			#413D3D; // dark middle grey
// $brand-five:			#2B2B2B; // dark grey

body {
	font-size: 62.5%;
	// padding-top: 60px;
	padding-bottom: 0px;
	// background-color: $brand-one;
	background-color: $gray-darker;
	color: darken($brand-one, 0%);
	position: relative;
	// background-image: url('http://subtlepatterns.com/patterns/tex2res4.png');
	// background-image: url('http://subtlepatterns.com/patterns/noisy.png');
	// background-image: url('http://subtlepatterns.com/patterns/old_mathematics.png');
}

a {
	color: #333333;
	text-decoration: none;

	&:hover,
	&:focus {
		color: yellow;
		text-decoration: none;
	}

	&:focus {
		@include tab-focus();
	}
}

h1{
	color: white;
}

img {
	max-width:100%;
}

.tk-droid-sans-mono {
	font-family: "droid-sans-mono",sans-serif;
}

.tk-bd-jupiter {
	font-family: "bd-jupiter",sans-serif;
}

.navbar {
	background-color: $brand-blue-dark;
	border-radius: 0;
	z-index: 4;
	.navbar-nav {
		font-size: 2em;
		color: $brand-blue-lighter;
		&:hover {
			color: $brand-blue-lighter;
		}
	}
	.navbar-right {
		color: $brand-blue-lighter;
	}
	img {
		top: 0;
	}
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: $brand-blue-lighter;
}
.navbar-default, .navbar-collapse, .navbar-toggle {
	border-color: $gray-darker !important;
		.navbar-nav{
		li{
			a{
				color: $brand-blue-lighter;
				margin-top: 2px;
				&:hover {
					color: $brand-blue-light;
				}
				&:focus {
					color: $brand-blue-light;
				}
			}
		}
	}
	.navbar-brand {
		color: $brand-blue-lighter;
		&:hover {
			color: $brand-blue-light;
		}
		&:focus {
			color: $brand-blue-light;
		}
	}
}

// ==================================================
.under-nav-container {
	position: relative;
	top: -20px;
	margin: 0 auto;
	z-index: 3;
	.under-nav-toggle {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		margin: 0 auto;
		height: 10px;
		width: 100%;
		// background-color: lighten($brand-two, 20%);
		// background-color: $brand-blue;
		background-color: $brand-blue;
		// border: 2px solid $brand-yellow;
		// background-image: url("../images/arrow-down-min.png");
		background-repeat: repeat-x;
		cursor: pointer;
	}
	.under-toggle {
		height: 150px;
		display: none;
		position: relative;
		top: -5px;
		z-index: -2;
		margin-bottom: 40px;
		.under-nav {
			height: 150px;
			max-width: 500px;
			margin-left: 10px;
			// background-color: lighten($brand-two, 30%);
			background-color: darken($brand-blue-lighter, 0%);
			margin: 0 auto;
			margin-bottom: 20px;
			// padding-top: -20px;
		}
	}
}

// ==================================================
.myCanvas-container	{
	// background-color: red;
	// max-width: 500px;
	// height: 150px;
	#myCanvas {
		// background-color: darken($brand-yellow-lighter, 0%);
	}
}
// ==================================================
.persistent-navbar, .persistent-collapse {
	z-index: 1;
	// background-color: orange;
	max-height: 25px;
		.nav{
			margin: 0;
		li{
			display: inline-block;
			a{
				color: $gray;
				margin-top: 0px;
				padding: 0;
				padding-right: 10px;
				padding-left: 10px;
				margin-right: 10px;
				&:hover {
					color: $gray;
					background-color: darken($gray-lighter, 5%);
				}
				&:focus {
					color: $gray;
					background-color: darken($gray-lighter, 5%);
				}
			}
		}
	}
}

.persistent-collapse {
	ul{
		li{
			a{
				// margin: 10px;
			}
		}
	}
}
.edit {
	// margin-top: -30px;
}

.jumbotron {
	// background-image: url('http://subtlepatterns.com/patterns/old_wall.png');
	background-color: lighten($brand-four, 50%);
	border-radius: 0 !important;
	@media screen and (min-width: $screen-sm-min) {
		padding-top:    ($jumbotron-padding / 2);
		padding-bottom: ($jumbotron-padding * 1);

		.container & {
			padding-left:  ($jumbotron-padding * 1);
			padding-right: ($jumbotron-padding * 1);
			}
		h1 {
			font-size: ($font-size-base * 4.5);
			}
		h2 {
			margin: 0;
			margin-bottom: 0.15em;
			font-size: ($font-size-base * 4);
		}
	}
}
// ==================================================
.top-bg {
	margin-top: -30px;
	position: relative;
	z-index: 1;
	background: url('../images/cyan-left.jpg') no-repeat left 0px top,
				url('../images/cyan-right.jpg') no-repeat right 0px top,
				url('../images/cyan-repeat.jpg') repeat-x;
				// background-attachment: fixed;
				background-size:	contain,
									contain,
									contain;
	.top {
		.top-display {
			min-height: 100vh;
			.top-intro {
				// background-color: $brand-blue;
				// box-shadow: 0px 0px 0px 10px $brand-blue-light;
				// height: 50vh;
				margin-top: 25vh;
				width: 100%;
				.fit-text-name {
					// margin-bottom: 40px;
					line-height: 0.7em;
					// margin-bottom: 1em;
					text-align: center;
						// text-align: center;
						// font: 400 4.5em/1.1 Bevan, sans-serif;
						text-shadow: -0.0375em 0 0 rgba(48, 48, 48, 0.1);
						text-transform: capitalize;
						
						// // // Deep light shadow
						// // letter-spacing: .04em;
						letter-spacing: -.23em;
						// color: $brand-blue;
						// text-shadow: 
						// 0px 0px 0 #FCFDFE,
						// -1px 2px 1px #F9FCFD,
						// -2px 4px 1px #F7FBFC,
						// -3px 6px 1px #F4FAFC,
						// -4px 8px 1px #F1F9FB,
						// -5px 10px 1px #EFF7FA,
						// -6px 12px 1px #ECF6FA,
						// -7px 14px 1px #EAF5F9,
						// -8px 16px 1px #E7F4F8,
						// -9px 18px 1px #E4F3F8,
						// -10px 20px 1px #E2F2F7,
						// -11px 22px 1px #DFF0F6,
						// -12px 24px 1px #DCEFF6,
						// -13px 26px 1px #DAEEF5,
						// -14px 28px 1px #D7EDF4,
						// -15px 30px 1px #D5ECF3,
						// -16px 32px 1px #D2EBF3,
						// -17px 34px 1px #CFE9F2,
						// -18px 36px 1px #CDE8F1,
						// -19px 38px 1px #CAE7F1,
						// -20px 40px 1px #C7E6F0,
						// -21px 42px 1px #C5E5EF,
						// -22px 44px 1px #C2E4EF,
						// -23px 46px 1px #C0E2EE,
						// -24px 48px 1px #BDE1ED,
						// -25px 50px 1px #BAE0ED,
						// -26px 52px 1px #B8DFEC,
						// -27px 54px 1px #B5DEEB,
						// -28px 56px 1px #B3DDEB;

						// // // Inset Shadow
						// color: $brand-blue-light;
						// // letter-spacing: .03em;
						// text-shadow: 
						// -1px -1px 1px $brand-blue-lighter, 
						// 2px 2px 1px $brand-blue;
				} // minimize

				.fit-text-title {
					text-align: center;
					line-height: 2em;
					color: $brand-blue-darker;
				}
				.top-link-out {
					text-align: center;
					color: $brand-blue-darker;
					line-height: .7em;
					// background-color: black;
				}
			}
		}
	}
}
// ==================================================
.about-bg {
	padding: 0;
	.about {
		height: 20vh;
		background-color: $brand-blue;
	}
		.about-display {
			padding-top: 25px;
			min-height: 100vh;
			background-color: $brand-blue-darker;
			// border-top: 200px solid $brand-yellow;
			// border-bottom: 20px solid $brand-yellow;
		}
}
// ==================================================
.portfolio-bg {
	padding: 0;
	// padding-top: 20vh;
	// border-top: 20vh solid $brand-blue;
	// box-shadow: inset 0 20vh 0 0 $brand-blue;
	.portfolio {
		height: 20vh;
		background-color: $brand-blue;
		margin-bottom: 40px;
	}
	.portfolio-display {
		padding-top: 40px;
		display: inline-block;
		height: auto;
		// background-color: orange;
		.thumbnail{
			min-height: 450px;
		}
	}
}

.col-sm-6 {
	// min-height: 500px;
}
.col-md-6 {
	// min-height: 500px;
}

.portfolio-thumnail {
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 200px;
	// margin: 5px;
	box-shadow: 1px 3px 5px 0px $gray;
	background-position: left top;
	background-size: cover;
		.link-out {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 5px;
		margin-bottom: 8px;
		}
		.label {
			font-size: 2em;
		}
}
// ==================================================
.contact-bg {
	padding: 0;
	// border-top: 200px solid $brand-yellow;
	background-color: $brand-yellow-dark;
	.contact {
		height: 20vh;
		background-color: $brand-yellow-light;
	}
	.contact-display {
		// box-shadow: inset 0 20vh 0 0 $brand-yellow;
		// padding-top: 20px;
		min-height: 80vh;
		// background-color: lighten($gray-darker, 20%)
	}
}
// ==================================================

.timeline-thumbnail {
	background-image: url("../images/timeline.png");
}

.kb-image-gallery-thumbnail {
	background-image: url("../images/image-gallery.png");
}

.moving-models-thumbnail {
	background-image: url("../images/moving-models.png");
}

.roll-dice-thumbnail {
	background-image: url("../images/roll-dice.png");
}

.jquery-examples-thumbnail {
	background-image: url("../images/jquery-working-examples.png");
}

.stargate-etsy-thumbnail {
	background-image: url("../images/stargate-etsy.png");
}

.surf-paddle-thumbnail {
	background-image: url("../images/surf-paddle.png");
}

.chat-app-thumbnail {
	background-image: url("../images/chat-app.png");
}

.assets {
	// float: left;
	font-size: 3em;
	.label {
		display: inline-block;
	}
	.label-primary {
		background-color: $brand-info;
		margin-top: 5px;
		// border-radius: 0;
		// color: black;
		// margin-right: -5px;
		// border-bottom: 4px solid darken($brand-info, 10%);
		// border-right: 3px solid $gray-lighter;
		// border-left: 8px solid lighten($brand-info, 20%);
		&:hover {
			// border-left: 6px solid lighten($brand-info, 20%);
			// margin-right: 2px;
		}
	}
}

.under-portfolio {
	height: 100%;
	margin-top: 20px;
	h3 {
		font-size: 3.4em;
		margin-top: 0;
	}
	p {
		font-size: 2.2em;
	}
}

.typekit-badge {
	display: none !important;
}

// ==================================================
// @font-face {
//     font-family: 'Mono Social Icons Font';
//     src: url('MonoSocialIconsFont-1.10.eot');
//     src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
//          url('MonoSocialIconsFont-1.10.woff') format('woff'),
//          url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
//          url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
//     src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// .symbol, a.symbol:before {
//     font-family: 'Mono Social Icons Font';
//     -webkit-text-rendering: optimizeLegibility;
//     -moz-text-rendering: optimizeLegibility;
//     -ms-text-rendering: optimizeLegibility;
//     -o-text-rendering: optimizeLegibility;
//     text-rendering: optimizeLegibility;
//     -webkit-font-smoothing: antialiased;
//     -moz-font-smoothing: antialiased;
//     -ms-font-smoothing: antialiased;
//     -o-font-smoothing: antialiased;
//     font-smoothing: antialiased;
// }

// a.symbol:before {
//     content: attr(title);
//     margin-right: 0.3em;
//     font-size: 130%;
// }
// ==================================================