body {
	font-size: 62.5%;
	padding-top: 60px;
	padding-bottom: 0px;
	background-image: url('http://subtlepatterns.com/patterns/tex2res4.png');
	// background-image: url('http://subtlepatterns.com/patterns/noisy.png');
	// background-image: url('http://subtlepatterns.com/patterns/old_mathematics.png');
}

a {
  color: #333333;
  text-decoration: none;

  &:hover,
  &:focus {
    color: yellow;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus();
  }
}

h1{
	color: white;
}

img {
	max-width:100%;
}
.navbar {
	.navbar-nav {
		font-size: 2em;
	}
	.navbar-brand {
		img {
			top: 0;
		}
	}
}

// ==================================================
#myCanvas {
	// width: 100%;
	// height: 100%;
	// background-color: black;
	// position: absolute;
	// top: 0;
	// z-index: -1;
}
// ==================================================

.main {
  // background-color: $gray-lighter;
}

.jumbotron {
	background-image: url('http://subtlepatterns.com/patterns/old_wall.png');
  @media screen and (min-width: $screen-sm-min) {
	padding-top:    ($jumbotron-padding * 1);
	padding-bottom: ($jumbotron-padding * 1);

	.container & {
	  padding-left:  ($jumbotron-padding * 1);
	  padding-right: ($jumbotron-padding * 1);
	}

	h1,
	.h1 {
	  font-size: ($font-size-base * 4.5);
	}
  }
}
// ==================================================
.navbar-right {
	background-color: inherit;
	@media screen and (max-width: $screen-sm-min) {
		background-color: $brand-warning-lighter;
	}
}
// ==================================================

.portfolio-thumnail {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 200px;
	// margin: 5px;
	box-shadow: 1px 3px 5px 0px $gray;
	background-position: left top;
	background-size: cover;
		.link-out {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 5px;
		margin-bottom: 8px;
		}
		.label {
			font-size: 2em;
		}
}

// ==================================================


.timeline-thumbnail {
	background-image: url("../images/timeline.png");
}

.kb-image-gallery-thumbnail {
	background-image: url("../images/image-gallery.png");
}

.moving-models-thumbnail {
	background-image: url("../images/moving-models.png");
}

.roll-dice-thumbnail {
	background-image: url("../images/roll-dice.png");
}

.jquery-examples-thumbnail {
	background-image: url("../images/jquery-working-examples.png");
}

.stargate-etsy-thumbnail {
	background-image: url("../images/stargate-etsy.png");
}

.surf-paddle-thumbnail {
	background-image: url("../images/surf-paddle.png");
}

.chat-app-thumbnail {
	background-image: url("../images/chat-app.png");
}

.assets {
	// float: left;
	font-size: 3em;
}

.under-portfolio {
	height: 100%;
	margin-top: 20px;
}