$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-warning-lighter: lighten(#f0ad4e, 50%) !default;
$brand-danger:          #d9534f !default;

// SUBTLE TEA TIME
$brand-one: 			#5E3635;
$brand-two:				#5F4F35;
$brand-three:			#616B4E;
$brand-four:			#568562;
$brand-five:			#40997B;

// TRIAD SPENCE
// $brand-one: 			#484340;
// $brand-two:				#946C52;
// $brand-three:			#455543;
// $brand-four:			#64627B;
// $brand-five:			#807D94;

// MONOCHROME
// $brand-one: 			#ECEBEB; // light white
// $brand-two:				#A09E9E; // light grey
// $brand-three:			#666363; // middle grey
// $brand-four:			#413D3D; // dark middle grey
// $brand-five:			#2B2B2B; // dark grey

body {
	font-size: 62.5%;
	// padding-top: 60px;
	padding-bottom: 0px;
	// background-color: $brand-one;
	background-color: $gray-darker;
	color: darken($brand-one, 0%);
	position: relative;
	// background-image: url('http://subtlepatterns.com/patterns/tex2res4.png');
	// background-image: url('http://subtlepatterns.com/patterns/noisy.png');
	// background-image: url('http://subtlepatterns.com/patterns/old_mathematics.png');
}

a {
	color: #333333;
	text-decoration: none;

	&:hover,
	&:focus {
		color: yellow;
		text-decoration: none;
	}

	&:focus {
		@include tab-focus();
	}
}

h1{
	color: white;
}

img {
	max-width:100%;
}

.navbar {
	background-color: $gray-lighter;
	border-radius: 0;
	z-index: 4;
	.navbar-nav {
		font-size: 2em;
		color: $gray;
		&:hover {
			color: $gray-light;
		}
	}
	.navbar-right {
		color: $gray;
	}
	img {
		top: 0;
	}
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: $gray;
}
.navbar-default, .navbar-collapse, .navbar-toggle {
	border-color: $gray-darker !important;
		.navbar-nav{
		li{
			a{
				color: $gray;
				margin-top: 2px;
				&:hover {
					color: $gray-light;
				}
				&:focus {
					color: $gray-light;
				}
			}
		}
	}
	.navbar-brand {
		color: $gray;
	}
}

// ==================================================
.under-nav-container {
	position: relative;
	top: -20px;
	margin: 0 auto;
	z-index: 3;
	.under-nav-toggle {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		margin: 0 auto;
		height: 10px;
		width: 100%;
		// background-color: lighten($brand-two, 20%);
		background-color: $gray-lighter;
		// background-image: url("../images/arrow-down-min.png");
		background-repeat: repeat-x;
		cursor: pointer;
	}
	.under-toggle {
		height: 150px;
		display: none;
		position: relative;
		top: -5px;
		z-index: -2;
		margin-bottom: 40px;
		.under-nav {
			height: 150px;
			width: 90%;
			margin-left: 10px;
			// background-color: lighten($brand-two, 30%);
			background-color: $gray;
			margin: 0 auto;
			margin-bottom: 20px;
			// padding-top: -20px;
		}
	}
}

// ==================================================
#myCanvas {
	// width: 100%;
	// height: 100%;
	// background-color: black;
	// position: absolute;
	// top: 0;
	// z-index: -1;
}
// ==================================================
.persistent-navbar, .persistent-collapse {
	z-index: 1;
	// background-color: orange;
	max-height: 25px;
		.nav{
			margin: 0;
		li{
			display: inline-block;
			a{
				color: $gray;
				margin-top: 0px;
				padding: 0;
				padding-right: 10px;
				padding-left: 10px;
				margin-right: 10px;
				&:hover {
					color: $gray;
					background-color: darken($gray-lighter, 5%);
				}
				&:focus {
					color: $gray;
					background-color: darken($gray-lighter, 5%);
				}
			}
		}
	}
}

.persistent-collapse {
	ul{
		li{
			a{
				// margin: 10px;
			}
		}
	}
}
.edit {
	// margin-top: -30px;
}

.jumbotron {
	// background-image: url('http://subtlepatterns.com/patterns/old_wall.png');
	background-color: lighten($brand-four, 50%);
	border-radius: 0 !important;
	@media screen and (min-width: $screen-sm-min) {
		padding-top:    ($jumbotron-padding / 2);
		padding-bottom: ($jumbotron-padding * 1);

		.container & {
			padding-left:  ($jumbotron-padding * 1);
			padding-right: ($jumbotron-padding * 1);
			}
		h1 {
			font-size: ($font-size-base * 4.5);
			}
		h2 {
			margin: 0;
			margin-bottom: 0.15em;
			font-size: ($font-size-base * 4);
		}
	}
}
// ==================================================
.top-bg {
	background: url('../images/cyan-left.jpg') no-repeat left 0px top,
				url('../images/cyan-right.jpg') no-repeat right 0px top,
				url('../images/cyan-repeat.jpg') repeat-x;
	background-size: contain,
					contain,
					contain;

	// background-size: 
	// background-color: $gray-light;
	// background-repeat: repeat;
	// background-image: url('../images/tile-test.png');
	// background-position: -150px;
	// background-origin: content-box;
	// background-image: url('../images/cyanotype-edit-repeat.png');
		                       	
	margin-top: -30px;
	position: relative;
	z-index: 1;
	.top {
		// height: 400px;
		.top-display {
			min-height: 100vh;
			// padding-top: 20px;
			// background-color: lighten($gray-darker, 10%)
			.top-intro {
				// position: absolute;
				background-color: #1796D3;
				// width: 50%;
				height: 200px;
				// margin-left: 25vw;
				// margin-right: 25vw;
				margin-top: 25vh;
			}
		}
	}
}
// ==================================================
.about {
	// height: 400px;
	.about-display {
		padding-top: 20px;
		min-height: 100vh;
		// background-color: lighten($gray-darker, 20%)
	}
}
// ==================================================
.portfolio {
	// background-color: white;
	.portfolio-display {
		padding-top: 20px;
		display: inline-block;
		height: auto;
		// background-color: orange;
		.thumbnail{
			min-height: 450px;
		}
	}
}

.col-sm-6 {
	// min-height: 500px;
}
.col-md-6 {
	// min-height: 500px;
}

.portfolio-thumnail {
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 200px;
	// margin: 5px;
	box-shadow: 1px 3px 5px 0px $gray;
	background-position: left top;
	background-size: cover;
		.link-out {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 5px;
		margin-bottom: 8px;
		}
		.label {
			font-size: 2em;
		}
}
// ==================================================
.photography {
	// height: 400px;
	.photography-display {
		padding-top: 20px;
		min-height: 100vh;
		// background-color: lighten($gray-darker, 20%)
	}
}
// ==================================================

.timeline-thumbnail {
	background-image: url("../images/timeline.png");
}

.kb-image-gallery-thumbnail {
	background-image: url("../images/image-gallery.png");
}

.moving-models-thumbnail {
	background-image: url("../images/moving-models.png");
}

.roll-dice-thumbnail {
	background-image: url("../images/roll-dice.png");
}

.jquery-examples-thumbnail {
	background-image: url("../images/jquery-working-examples.png");
}

.stargate-etsy-thumbnail {
	background-image: url("../images/stargate-etsy.png");
}

.surf-paddle-thumbnail {
	background-image: url("../images/surf-paddle.png");
}

.chat-app-thumbnail {
	background-image: url("../images/chat-app.png");
}

.assets {
	// float: left;
	font-size: 3em;
	.label {
		display: inline-block;
	}
	.label-primary {
		background-color: $brand-info;
		margin-top: 5px;
		// border-radius: 0;
		// color: black;
		// margin-right: -5px;
		// border-bottom: 4px solid darken($brand-info, 10%);
		// border-right: 3px solid $gray-lighter;
		// border-left: 8px solid lighten($brand-info, 20%);
		&:hover {
			// border-left: 6px solid lighten($brand-info, 20%);
			// margin-right: 2px;
		}
	}
}

.under-portfolio {
	height: 100%;
	margin-top: 20px;
	h3 {
		font-size: 3.4em;
		margin-top: 0;
	}
	p {
		font-size: 2.2em;
	}
}

// ==================================================