body {
	font-size: $font-size-base;
	font-family: "jaf-facitweb",sans-serif;
	font-weight: 100;
	padding-bottom: 0px;
	background-color: $gray-darker;
	position: relative;
}

a {
	// color: #333333;
	text-decoration: none;
	&:hover,
	&:focus {
		// color: yellow;
		text-decoration: none;
	}

	&:focus {
		@include tab-focus();
	}
}

h1 {

}

img {
	max-width:100%;
}

.navbar {
	background-color: $brand-blue-dark;
	font-family: "droid-sans-mono",sans-serif;
	border-radius: 0;
	z-index: 4;
	.navbar-nav {
		font-size: 1.4em;
		color: $brand-blue-lighter;
		&:hover {
			color: $brand-blue-lighter;
		}
	}
	.navbar-right {
		color: $brand-blue-lighter;
	}
	img {
		top: 0;
	}
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: $brand-blue-lighter;
}
.navbar-default, .navbar-collapse, .navbar-toggle {
	border-color: $gray-darker !important;
		.navbar-nav{
		li{
			a{
				color: $brand-blue-lighter;
				margin-top: 2px;
				&:hover {
					color: $brand-blue-light;
				}
				&:focus {
					color: $brand-blue-light;
				}
			}
		}
	}
	.navbar-brand {
		color: $brand-blue-lighter;
		&:hover {
			color: $brand-blue-light;
		}
		&:focus {
			color: $brand-blue-light;
		}
	}
}

// ==================================================
.under-nav-container {
	position: relative;
	top: -20px;
	margin: 0 auto;
	z-index: 3;
	.under-nav-toggle {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		margin: 0 auto;
		height: 10px;
		width: 100%;
		background-color: $brand-blue;
		background-repeat: repeat-x;
		cursor: pointer;
	}
	.under-toggle {
		height: 150px;
		display: none;
		position: relative;
		top: -5px;
		z-index: -2;
		margin-bottom: 40px;
		.under-nav {
			height: 150px;
			max-width: 500px;
			margin-left: 10px;
			// background-color: lighten($brand-two, 30%);
			background-color: darken($brand-blue-lighter, 0%);
			margin: 0 auto;
			margin-bottom: 20px;
			// padding-top: -20px;
		}
	}
}

// ==================================================
.myCanvas-container	{
	// background-color: red;
	// max-width: 500px;
	// height: 150px;
	#myCanvas {
		// background-color: darken($brand-yellow-lighter, 0%);
	}
}
// ==================================================
.persistent-navbar, .persistent-collapse {
	font-family: "droid-sans-mono",sans-serif;
	z-index: 1;
	max-height: 25px;
	overflow: hidden;
		.nav{
			margin: 0;
		li{
			display: inline-block;
			a{
				color: $gray;
				margin-top: 0px;
				padding: 0;
				padding-right: 10px;
				padding-left: 10px;
				margin-right: 10px;
				&:hover {
					color: $gray;
					background-color: darken($gray-lighter, 5%);
				}
				&:focus {
					color: $gray;
					background-color: darken($gray-lighter, 5%);
				}
			}
		}
	}
}

.persistent-collapse {
	ul{
		li{
			a{
				// margin: 10px;
			}
		}
	}
}
.edit {
	// margin-top: -30px;
}

// ==================================================
.top-bg {
	margin-top: -30px;
	position: relative;
	z-index: 1;
	background: url('../images/cyan-left.jpg') no-repeat left 0px top,
				url('../images/cyan-right.jpg') no-repeat right 0px top,
				url('../images/cyan-repeat.jpg') repeat-x;
				// background-attachment: fixed;
				background-size:	contain,
									contain,
									contain;
	.top {
		.top-display {
			// min-height: 100vh;
			.top-intro {
				margin-top: 200px;
				margin-bottom: 200px;
				width: 100%;
				.fit-text-name {
					font-family: $headings-font-kb;
					font-style: normal;
					font-weight: 800;
					line-height: 0.7em;
					text-align: center;
					text-shadow: -0.0375em 0 0 rgba(48, 48, 48, 0.1);

						// // // Deep light shadow
						// letter-spacing: -.15em;
						// color: white;
						// text-shadow: 
						// 0px 0px 0 #FCFDFE,
						// -1px 2px 1px #F9FCFD,
						// -2px 4px 1px #F7FBFC,
						// -3px 6px 1px #F4FAFC,
						// -4px 8px 1px #F1F9FB,
						// -5px 10px 1px #EFF7FA,
						// -6px 12px 1px #ECF6FA,
						// -7px 14px 1px #EAF5F9,
						// -8px 16px 1px #E7F4F8,
						// -9px 18px 1px #E4F3F8,
						// -10px 20px 1px #E2F2F7,
						// -11px 22px 1px #DFF0F6,
						// -12px 24px 1px #DCEFF6,
						// -13px 26px 1px #DAEEF5,
						// -14px 28px 1px #D7EDF4,
						// -15px 30px 1px #D5ECF3,
						// -16px 32px 1px #D2EBF3,
						// -17px 34px 1px #CFE9F2,
						// -18px 36px 1px #CDE8F1,
						// -19px 38px 1px #CAE7F1,
						// -20px 40px 1px #C7E6F0,
						// -21px 42px 1px #C5E5EF,
						// -22px 44px 1px #C2E4EF,
						// -23px 46px 1px #C0E2EE,
						// -24px 48px 1px #BDE1ED,
						// -25px 50px 1px #BAE0ED,
						// -26px 52px 1px #B8DFEC,
						// -27px 54px 1px #B5DEEB,
						// -28px 56px 1px #B3DDEB;

						// // // Inset Shadow
						// color: $brand-blue-light;
						// // letter-spacing: .03em;
						// text-shadow: 
						// -1px -1px 1px $brand-blue-lighter, 
						// 2px 2px 1px $brand-blue;
				} // minimize

				.fit-text-title {
					font-family: $headings-font-kb;
					text-align: center;
					line-height: 2em;
					color: $brand-blue-darker;
				}
				.top-link-out {
					text-align: center;
					color: $brand-blue-darker;
					line-height: .7em;
					letter-spacing: -10px;
					// background-color: black;
					.top-link-out-span {
						a {
							margin-left: 10px;
							margin-right: 10px;
						}
						i {
							@include transition(0.2s);
							&:hover {
								transform: scale(1.2) translateY(-5px);
								color: $brand-blue-dark;
							}
						}
					}
				}
				.top-contact {
					font-family: $headings-font-kb;
					text-align: center;
					font-size: 2em;
					margin-top: 1em;
					color: $brand-blue-darker;
					.email {
						&:before,
						&:after {
							opacity: 0;
							display: inline-block;
							transition: transform 0.3s, opacity 0.2s;
						}
						&:before {
							margin-right: 10px;
							content: "|";
							transform: translateX(20px);
						}
						&:after {
							margin-left: 10px;
							content: "|";
							transform: translateX(-20px);
						}
						&:hover:after,
						&:hover:before {
							opacity: 1;
							transform: translateX(0px) translateY(-7px);
						}
					}
				}
			}
		}
	}
}
// ==================================================
.about-bg {
	padding: 0;
	background-color: $brand-blue-darker;
	.about-title {
		font-family: $headings-font-kb;
		font-weight: $headings-font-weight;
		padding: 20px;
		margin-top: 0;
		font-size: 20em;
		text-align: left;
	}
	.about-display {
		padding-top: 25px;
		// min-height: 100vh;
		.about-banner {
			// width: 50em;
			// height: 200px;
			padding: 2em;
			background-color: white;
			.about-copy {
				padding-left: 20px;
				h2 {
					color: $brand-blue-dark;
					font-weight: 500;
				}
				p {
					// width: 90%;
					// margin-top: 1.5em;
					margin: 0 0 15px;
					font-size: 2em;

					b {
						// font-style: ital ic;
						font-weight: 600;
					}
					a {
						font-weight: 400;
						color: #158cbd;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				// p:nth-child(4) {  
				// 	border-bottom: 2px solid $gray-lighter;
				// 	padding: 10px 0;
				// }
				ul {
					font-size: 1.5em;
				}
			}
		}
	}
}
// ==================================================
.portfolio-bg {
	padding: 0;
	background-color: $brand-blue-dark;
	.portfolio-title {
		font-family: $headings-font-kb;
		font-weight: $headings-font-weight;
		padding: 20px;
		margin-top: 0;
		text-align: left;
	}
	.portfolio-display {
		// padding-top: 40px;
		display: inline-block;
		height: auto;
		// background-color: orange;
		h3 {
			color: $gray-lighter;
			margin-top: 0em;
			font-weight: 400;
			// margin-left: -15px;
		}
		.thumbnail{
			text-align: center;
			margin-bottom: 5em;
			.portfolio-thumnail {
				position: relative;
				display: inline-block;
				width: 90%;
				margin-top: 5%;
				min-height: 200px;
				// border: 5px solid $gray-lighter;
				box-shadow: inset 0px 0px 10px 0px $gray,
								  0px 0px 0px 10px $gray-lighter;
				// box-shadow: 1px 3px 5px 0px $gray;
				// box-shadow: 0px 0px 0px 10px $brand-blue;
				background-position: left top;
				background-size: cover;
				.link-out {
				position: absolute;
				bottom: 0;
				right: 0;
				margin-right: 5px;
				margin-bottom: -8px;
				}
				.label {
					font-size: 1.5em;
					font-weight: 600;
				}
				.label-warning {
					background-color: $brand-blue-darker;
					&:hover {
						background-color: $brand-blue;
					}
				}
			}
			.under-portfolio {
				width: 90%;
				margin: 0 auto;
				text-align: left;
				margin-top: 20px;
				// margin-bottom: 5%;
				h4 {
					color: $brand-blue-dark;
					margin-bottom: 0;
				}
				p {
					font-size: 1.6em;
				}
				@media screen and (min-width: $screen-xs-min) {
					min-height: 0em;
					p { min-height: 10px; }
				}
				@media screen and (min-width: $screen-sm-min) {
					min-height: 0em;
					p { min-height: 154px; }
				}
				@media screen and (min-width: $screen-md-min) {
					min-height: 0em;
					p { min-height: 111px; }
				}
				.asset-label {
					font-size: 1.4em;
					padding: 5px;
					padding-left: 0px;
					line-height: 20px;
					color: $brand-blue;
				}
			}
		}
	}
}

.col-sm-6 {
	// min-height: 500px;
}
.col-md-6 {
	// min-height: 500px;
}

// ==================================================
.contact-bg {
	padding: 3.5em 0;
	// border-top: 200px solid $brand-yellow;
	background-color: $gray-dark;
	.contact-title {
		font-family: $headings-font-kb;
		font-weight: $headings-font-weight;
		height: 20vh;
		background-color: $brand-yellow-light;
	}
	.contact-display {
		// background-color: white;
		h3 {
			font-family: $headings-font-kb;
			font-weight: $headings-font-weight;
			color: $brand-blue-light;
		}
		ul {
			list-style-type: none;
			padding-left: 0px;
			margin-bottom: 20px;
			color: $brand-blue;
			font-weight: 500;
			a {
				font-size: 14px;
				&:hover {
					color: $brand-blue-light;
				}
			}
		}
		.otherwise {
			text-align: right;
		}
		.the-scoop {
			text-align: left;
		}
		.at-sign {
			font-weight: 300;
		}
		@media screen and (max-width: $screen-xs-min) {
			h3 {
				font-size: ceil(($font-size-base * 1.8));

			}
		}
	}
}
// ==================================================

.timeline-thumbnail {
	background-image: url("../images/timeline.png");
}

.kb-image-gallery-thumbnail {
	background-image: url("../images/image-gallery.png");
}

.moving-models-thumbnail {
	background-image: url("../images/moving-models.png");
}

.roll-dice-thumbnail {
	background-image: url("../images/roll-dice.png");
}

.jquery-examples-thumbnail {
	background-image: url("../images/jquery-working-examples.png");
}

.stargate-etsy-thumbnail {
	background-image: url("../images/stargate-etsy.png");
}

.surf-paddle-thumbnail {
	background-image: url("../images/surf-paddle.png");
}

.chat-app-thumbnail {
	background-image: url("../images/chat-app.png");
}

// ==================================================

.typekit-badge {
	display: none !important;
}

// ==================================================