$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-warning-lighter: lighten(#f0ad4e, 50%) !default;
$brand-danger:          #d9534f !default;

// SUBTLE TEA TIME
$brand-one: 			#5E3635;
$brand-two:				#5F4F35;
$brand-three:			#616B4E;
$brand-four:			#568562;
$brand-five:			#40997B;

// BRAND BLUE
$brand-blue-lighter:	#DCF6FF;
$brand-blue-light:		#B3DDEB;
$brand-blue:			#69919E;
$brand-blue-dark:		#3F565E;
$brand-blue-darker:		#2E3F44;

$brand-blue-saturated:	#536091;
$brand-blue-orange:		#424B6B;

$brand-yellow-lighter:	#EAE490;
$brand-yellow-light:	#EBE37F;
$brand-yellow:			#EAE054;
$brand-yellow-dark:		#D3BB41;
$brand-yellow-darker:	#B9A439;

$headings-font-kb: "jaf-facitweb",sans-serif;
$headings-font-weight: 800;
$nav-font-kb: "droid-sans-mono",sans-serif;

// TRIAD SPENCE
// $brand-one: 			#484340;
// $brand-two:				#946C52;
// $brand-three:			#455543;
// $brand-four:			#64627B;
// $brand-five:			#807D94;

// MONOCHROME
// $brand-one: 			#ECEBEB; // light white
// $brand-two:				#A09E9E; // light grey
// $brand-three:			#666363; // middle grey
// $brand-four:			#413D3D; // dark middle grey
// $brand-five:			#2B2B2B; // dark grey